@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200..900');  


@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url("../public/fonts/Poppins-ExtraBold.ttf")
} 

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../public/fonts/Poppins-Bold.ttf")
} 

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../public/fonts/Poppins-SemiBold.ttf")
}  

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../public/fonts/Poppins-Medium.ttf")
} 

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../public/fonts/Poppins-Regular.ttf")
} 

body{
  background-color: #070A0D;
}